body{
  font-family: "Times New Roman", 'Times New Roman', Times, serif;
  font-size: 62.5%
}
p, ul, ol, dl{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  margin-bottom: 12px;
  line-height: 1.7rem;
}

article{
  max-width:620px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}

h1, h2, h3, h4, h5{
  font-family: 'Ubuntu', sans-serif;
}

h1{
  font-size: 2.75rem;
  margin: 20px 0;
}

h2{
  font-size: 2rem;
  margin: 20px 0;
}

h4{
  font-size: 1rem;
  margin: 14px 0 8px 0;
}

.byline{
  font-family: Arial;
  font-size: .95rem;
}
.byline span{
  font-style: italic;
}

.credit{
  font-family: Arial;
  margin-top: 2px;
  margin-bottom: 20px;
  font-size: .9rem;
  text-align: right;
}

blockquote{
  border-left: 4px solid grey;
  padding: 20px;
  margin-left: 30px;
}

ol {
  list-style-position: inside;
}

#comment-notes {
  background-color: #CCC;
  padding: 12px 12px
}